/* .div-nav .nav {
    width: 93.9rem;
}

.div-items {
    margin-left: 14rem;
}

.profile-icon {
    margin-left: 20rem;
}

.grid-fifth {
    margin-left: 7rem;
}

.accordion {
    margin-left: 8rem;
}

.flex-footer {
    gap: 13rem;
}

.one hr {
    margin-top: 40px;
}
.two hr {
    margin-top: 40px;
} */